@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.allquiz-container
{
    padding-left:30px;
    padding-top: 30px;
}
.label
{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
}
.quiz-list
{
    display: flex;
    flex-direction: column;
    width:100%; 
}
.quiz
{
    display: flex;
    height : 40px;
    align-items: center;
    font-size: 20px;
    width: 85%;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}
.name{
    width: 40%;
}
.link-quiz>a{
    text-decoration: none;
    color: orange;

}
.link-quiz>a:hover{
    color:orchid;
}
.copy-link{
    font-size: 14px;
    width: 50%;
}
.copy-link:hover,.copy-link-button:hover
{
    cursor: pointer;
    color: orchid;
}
.edit:hover
{
    color:orchid;
    cursor: pointer;
}
.copy-link-button
{
    display: none;
}
.menu-label.allquiz
{
    color: rgb(185, 11, 156)
}
@media screen and (max-width: 1100px) {
    .copy-link-button
    {
        display: block;
    }
    .copy-link
    {
        display: none;
    }
    .quiz
    {
        padding-bottom: 30px;
        width: 90%;
    }
}