@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.input-field
{
    width: 70%;
    padding-top: 10px;
}
.input
{
    background-color: transparent;
    height: 30px;
    font-size: 18px;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    width: 95%;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.input.ichoice
{
    font-size: 15px;
}
.border
{
    border-bottom: 2px solid rgb(185, 11, 156);
}
.important
{
    color: red;
    font-weight: bold;
}
.inside-label
{
    color: orange;
}
.author-details
{
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
}
.author-details > div{
    display: flex;
    flex-direction:column;
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
    width: 65%;
    flex-wrap: wrap;
}
input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    margin:0;
    padding: 0;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
}
.button
{
    font-family: 'Raleway', sans-serif;
    color: rgb(187, 67, 167);
    user-select: none;
}
.button:hover
{
    cursor: pointer;
}
.submit{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    padding-bottom: 40px;
}
.button.submit, .button.update-create,.button.add-new,.button.add-ques, .button.add-option
{
    padding: 10px 15px 10px 15px;   
    background-color: peru;
    color: white;
    width:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.button.add-ques
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px 10px;
}
.button.submit:hover, .button.update-create:hover, .button.add-new:hover, .button.add-ques:hover
{
    cursor: pointer;
    background-color: rgb(243, 142, 41);
}
.button.update-create
{
    display: flex;
}

.new-ques
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.button.add-new
{
    display : flex;
}
.button.add-option
{
    background: transparent;
    padding-left: 20px;
    padding-right: 0px;
    width: 30px;
}
.button.add-option:hover
{
    color: royalblue;
}
.question-creation
{
    padding-top: 20px;
    padding-left: 20px;
    display: block; 
    /*to be turned*/
}
.question
{
    width: 65%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 2px solid rgb(42, 44, 165);
}
.choices-label
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
}
.content
{
    color:rgb(243, 142, 41)
}
.choice
{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.question-label
{
    font-family: 'Raleway', sans-serif;
    font-size: 20px ;
}
.input-ques
{
    padding-top: 10px;
    padding-bottom: 20px;
}
.options
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.options>div{
    padding-right: 20px;
}
.info
{
    padding-top: 20px;
}
.info>div{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    padding-top: 20px;
}
.info>div>div{
    width : 20%;
}
.input.info 
{
    font-size: 18px; 
}
.info-label
{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    width:13%;
    color: salmon;
}
.input.info
{
    padding-top: 0px;
}
@media screen and (max-width: 1100px) {
    .question{
        width: 85%;
        padding-left: 10px;
    }
    .author-details > div
    {
        width: 90%;
    }
    .info>div>div{
        width: 40%;
    }
    .infos{
        padding-bottom: 20px;
    }
}