<link rel="stylesheet" href="/allquiz.css">
<div class="allquiz-container">
    <div class="label">
        Quizes
    </div>
    <div class="quiz-list">
        <% data.map((item)=>{ %>
            <div class="quiz">
                <div class="name">
                    <%=item.name%>
                </div>
                <div class="url">
                    <a href="/quiz/<%= item._id %>">
                        <div class="link-quiz">Link to Quiz</div>
                    </a>
                </div>
                <div class="copy-link" id=<%=item._id%> onclick="copyText(`<%=item._id%>`)">
                    Reveal the link
                </div>
            </div>
        <% }) %>
    </div>
</div>
<script>
    const copyText=(id)=>{
        document.getElementById(id).innerHTML=`${window.location.origin}/quiz/${id}`
    }
</script>