<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/11d589870a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='/createquiz.css'>
    <title>Evaluation</title>
</head>
<body>
    <%-include('../views/header')%>
    <div class="content-container">
        <%- include('../views/sidebar',{select : "evaluation"}) %>
    </div>
    <%-include('../views/footer')%>
    
</body>
</html>