<div class="footer-container">
    <div class="footer-label">
        Made with <span class='heart'>❤</span> by MyQuiz@2021
    </div>
</div>
<style>
    .footer-container
    {
        background-color: royalblue;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 40px;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
    }
    .heart
    {
        color : red;
    }
</style>