<link rel="stylesheet" href="/header.css">
<div class="navbar-container">
    <div class="left">
        <div class="hamburger" onclick="showMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <i class="fas fa-user-graduate"></i>
        </div>
        <div class="quiz-name">
            My Quiz
        </div>
    </div>
</div>