<link rel="stylesheet" href="/header.css">
<div class="navbar-container">
    <div class="left">
        <div class="hamburger" onclick="showMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo" onclick="tohome()">
            <i class="fas fa-user-graduate"></i>
        </div>
        <div class="quiz-name" onclick="tohome()">
            My Quiz
        </div>
    </div>
    <div class="right">
        <div class="userheader">
            <%=user.username%>
        </div>
        <div class="after" onclick="user()">
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="logout" onclick="logout()"> 
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </div>
</div>
<div class="userafter">
    <div class="userafter-content">
        <%=user.username%>
    </div>
</div>
<script>
    const logout=()=>{
        location.assign(`${window.location.origin}`)
    }
    const showstate=false
    const user=()=>{
        var usershow=document.querySelector('.userafter')
        usershow.style.display='flex'
        setTimeout(()=>{usershow.style.display='none'},2000)
    }
    const tohome=()=>{
        location.assign(`${window.location.origin}/<%=user._id%>`)
    }
</script>