<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.quizDetails.name %></title>
    <script src="https://kit.fontawesome.com/11d589870a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/quizpage.css">
</head>
<body>
    <%- include('../views/header')%>
    <div class="quiz-details">
        
    </div>
</body>
</html>